@import '../../styles.scss';

.blog-section-horizontal {
    @include flex-column();
    margin-top: 250px;
    @include center-items();

    .breadcrumbs-horizontal {
        @include flex-row();
        margin-bottom: 50px;
        align-self: flex-start;
        padding-left: 190px;

        @media (max-width: 420px) {
            padding-left: 50px;
        }

        .blog-path-horizontal {
            color: #B0B0B0;
        }

        .blog-path-source-horizontal {
            color: #4D4D4D;
        }
    }

    .blog-content-horizontal {
        @include flex-column();
        @include center-items();
        justify-content: space-evenly;
        gap: 50px;
    }
}