@import '../../styles.scss';

.category {
    font-family: $lato;
    font-size: 13px;
    @include flex-row();
    justify-content: space-between;

    @media (max-width:670px) {
        font-size: 10px;
    }

    @media (max-width:430px) {
        font-size: 7px;
        // gap:
    }
}