@import '../../styles.scss';

.category {
    font-family: $secondary-font;
    font-size: 13px;
    @include flex-row();
    justify-content: space-between;

    @media (max-width:670px) {
        font-size: 10px;
    }

    @media (max-width:$mobile-size) {
        font-size: 7px;
        // gap:
    }
}