@import '../../styles.scss';

.sidebar {
    @include flex-column();
    align-content: space-evenly;
    gap: 50px;
    width: 250px;

    @media (max-width:740px) {
        gap: 30px;
        width: 200px;
    }

    @media (max-width:$mobile-size) {
        gap: 30px;
        width: 130px;
        margin-top: 100px;
    }

    .searchbar {
        @include flex-row();

        .search {
            font-size: 20px;
            border: none;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;

            @media (max-width:670px) {
                font-size: 15px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
            }
        }

        .search-icon {
            width: 15px;
            height: 15px;
            margin-left: -20px;
        }
    }

    .categories {
        @include flex-column();

        .categories-title {
            font-family: $primary-font;
            font-size: 20px;
            align-self: flex-start;

            @media (max-width:670px) {
                font-size: 15px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
            }
        }

        .dotted-line {
            border-bottom: 2px dotted #000000;
            width: auto;
        }
    }

    .recent-comments {
        @include flex-column();

        .recent-comments-title {
            font-family: $primary-font;
            font-size: 20px;
            align-self: flex-start;

            @media (max-width:670px) {
                font-size: 15px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
            }
        }

        .dotted-line {
            border-bottom: 2px dotted #000000;
            width: auto;
        }
    }

    .archives {
        @include flex-column();

        .archives-title {
            font-family: $primary-font;
            font-size: 20px;
            align-self: flex-start;

            @media (max-width:670px) {
                font-size: 15px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
            }
        }

        .dotted-line {
            border-bottom: 2px dotted #000000;
            width: auto;
        }
    }

    .recent-posts {
        @include flex-column();
        gap: 10px;

        .recent-posts-title {
            font-family: $primary-font;
            font-size: 20px;
            align-self: flex-start;

            @media (max-width:670px) {
                font-size: 15px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
            }
        }

        .dotted-line {
            border-bottom: 2px dotted #000000;
            width: auto;
        }

        .post1,
        .post2,
        .post3,
        .post4 {
            width: 200px;
            height: 60px;

            @media (max-width:$mobile-size) {
                width: 100px;
                height: 30px;
            }
        }
    }
}