@import '../../styles.scss';

.pastries-section {
    @include flex-column();
    text-align: center;

    .pastries-header {
        @include flex-column();
        // margin-bottom: 70px;
        align-items: center;

        .pastries-title {
            font-size: 50px;
            font-family: $primary-font;
            margin-bottom: 0;
            z-index: 1;
        }

        .pastries-title-desc {
            font-size: 20px;
            font-family: $secondary-font;
            color: #4D4D4D;
            z-index: 1;
        }

        .avocado {
            width: 250px;
            height: 250px;
            position: relative;
            z-index: 0;
            top: -150px;

            @media (max-width:$mobile-size) {
                width: 120px;
                height: 120px;
                top: -100px;
            }
        }
    }

    .pastry-menu {
        @include flex-row();
        justify-content: space-evenly;
        padding-bottom: 100px;

        .pastry-items {
            width: 550px;
            height: 650px;
        }

        .menu {
            @include flex-column();
        }
    }
}

@media (max-width: 920px) {
    .pastries-section {
        .pastries-header {
            .pastries-title {
                font-size: 40px;
            }
        }

        .pastry-menu {
            .pastry-items {
                width: 450px;
                height: 550px;
            }
        }

    }
}

@media (max-width: 855px) {
    .pastries-section {
        .pastries-header {
            .pastries-title {
                font-size: 30px;
            }
        }

        .pastry-menu {
            .pastry-items {
                width: 350px;
                height: 450px;
            }
        }

    }
}

@media (max-width: $mobile-size) {
    .pastries-section {
        .pastries-header {
            margin-bottom: 40px;

            .pastries-title {
                font-size: 20px;

                .pastries-title-desc {
                    font-size: 10px;
                }
            }
        }

        .pastry-menu {
            padding-bottom: 50px;

            .pastry-items {
                width: 220px;
                height: 260px;
            }
        }
    }
}