@import '../../styles.scss';

.starters-section {
    @include flex-column();
    text-align: center;

    .starters-header {
        @include flex-row();
        padding-left: 400px;

        @media (max-width:855px) {
            padding-left: 200px;
        }

        @media (max-width:670px) {
            padding-top: 50px;
        }

        @media (max-width:$mobile-size) {
            padding-left: 100px;
            padding-top: 0px;
        }

        .title-container {
            @include flex-column();
            @include center-items();
            margin-bottom: 70px;
            width: 700px;
            z-index: 1;

            @media (max-width:$mobile-size) {
                margin-bottom: 0px;
            }


            .starters-title {
                font-size: 50px;
                font-family: $primary-font;
                margin-bottom: 0;

                @media (max-width:670px) {
                    font-size: 30px;
                }

                @media (max-width:$mobile-size) {
                    font-size: 15px;
                }
            }

            .starters-title-desc {
                font-size: 20px;
                font-family: $secondary-font;
                color: #4D4D4D;

                @media (max-width:$mobile-size) {
                    font-size: 10px;
                }
            }
        }

        .blueberry {
            align-self: flex-end;
            width: 180px;
            height: 180px;
            margin-left: 150px;
            position: relative;
            top: -40px;
            z-index: 0;

            @media (max-width:1024px) {
                top: -60px;
            }

            @media (max-width:855px) {
                top: -20px;
                margin-left: 100px;
            }

            @media (max-width:670px) {
                top: -60px;
            }

            @media (max-width:$mobile-size) {
                width: 100px;
                height: 100px;
                top: -80px;
                margin-left: 0;
            }
        }
    }

    .starter-menu {
        @include flex-row();
        justify-content: space-evenly;
        padding-bottom: 100px;

        .starter-items {
            width: 550px;
            height: 650px;
        }

        .menu {
            @include flex-column();
        }
    }
}

@media (max-width:920px) {
    .starters-section {
        .starters-header {
            margin-bottom: 70px;

            .title-container {

                .starters-title {
                    font-size: 40px;
                }
            }
        }

        .starter-menu {
            padding-bottom: 100px;

            .starter-items {
                width: 450px;
                height: 550px;
            }
        }
    }
}

@media (max-width: 855px) {
    .starters-section {
        .starters-header {
            .title-container {

                .starters-title {
                    font-size: 30px;
                }
            }
        }

        .starter-menu {
            .starter-items {
                width: 350px;
                height: 450px;
            }
        }
    }
}

@media (max-width: $mobile-size) {
    .starters-section {
        margin-top: 50px;

        .starters-header {
            margin-bottom: 40px;

            .title-container {

                .starters-title {
                    font-size: 20px;
                }
            }

            .starters-title-desc {
                font-size: 10px;
            }
        }

        .starter-menu {
            @include flex-row();
            justify-content: space-evenly;
            padding-bottom: 50px;

            .starter-items {
                width: 220px;
                height: 260px;
            }

            .menu {
                @include flex-column();
            }
        }
    }
}