@import '../../styles.scss';

.navigate-portfolio {
    display: flex;
    gap: 70px;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    background: #EBF0E4;
    padding: 50px;
    margin-top: 100px;

    @media (max-width:$mobile-size) {
        gap: 20px;
    }

    .previous {
        color: #233000;
        @include flex-column();
        @include center-items();

        .previous-page {
            font-family: $secondary-font;
            font-size: 15px;

            @media (max-width:$mobile-size) {
                font-size: 8px;
            }
        }

        .previous-portfolio {
            font-family: $primary-font;
            font-size: 25px;
            margin: 0;

            @media (max-width:$mobile-size) {
                font-size: 12px;
            }
        }
    }

    .icon-back-btn {
        border: none;
        background: none;

        .icon-back {
            width: 40px;
            height: 40px;

            @media (max-width:$mobile-size) {
                width: 25px;
                height: 25px;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ffffff;
            }
        }
    }

    .next {
        color: #233000;
        @include flex-column();
        @include center-items();

        .next-page {
            font-family: $secondary-font;
            font-size: 15px;

            @media (max-width:$mobile-size) {
                font-size: 8px;
            }
        }

        .next-portfolio {
            font-family: $primary-font;
            font-size: 25px;
            margin: 0;

            @media (max-width:$mobile-size) {
                font-size: 12px;
            }
        }
    }
}