@import '../../styles.scss';

.header-container {
    position: relative;

    .header-bg {
        background-image: url("../../assests/images/header-bg.png");
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;

        @media only screen and (max-width: $mobile-size) {
            width: 100%;
            height: 300px;
        }
    }

    .contact-header-hero {
        @include flex-column();
        position: relative;
        color: white;
        padding: 20px 0 0 100px;
        font-family: 'Rufina';

        @media only screen and (max-width: $mobile-size) {
            padding: 10px 0 0 50px;
        }

        .contact-header-hero-title {
            font-size: 100px;
            margin-bottom: 0px;

            @media only screen and (max-width: $mobile-size) {
                font-size: 20px;
            }
        }

        .contact-header-hero-title-description {
            font-size: 20px;

            @media only screen and (max-width: $mobile-size) {
                font-size: 10px;
            }
        }
    }

    .opentime {
        position: relative;
        color: white;
        width: auto;
        @include flex-column();
        margin-top: 50px;

        @media only screen and (max-width: $mobile-size) {
            margin-top: 30px;
        }

        .opentime-table {
            width: 450px;
            @include flex-column();
            align-self: end;
            padding-right: 80px;

            @media only screen and (max-width: $mobile-size) {
                padding-right: 30px;
            }

            .opentime-header {
                @include flex-row();
                justify-content: space-between;

                @media only screen and (max-width: $mobile-size) {
                    font-size: 10px;
                }

                .opentime-title {
                    @include rufina-lighter();
                }

                .opened-days {
                    @include lato-lighter();
                }
            }

            .dotted-line {
                border: none;
                border-top: 2px dotted white;

                @media only screen and (max-width: $mobile-size) {
                    width: 250px;
                    position: relative;
                    right: -200px;
                }
            }

            .available-timings {
                padding-top: 30px;

                @media only screen and (max-width: $mobile-size) {
                    padding-top: 10px;
                    font-size: 10px;
                    display: flex;
                    justify-content: flex-end;
                }

                .time-table {
                    width: 100%;

                    @media only screen and (max-width: $mobile-size) {
                        width: 50%;
                    }

                    .brunch {
                        text-align: left;
                        @include lato-lighter();
                    }

                    .lunch {
                        text-align: center;
                        @include lato-lighter();
                    }

                    .dinner {
                        text-align: right;
                        @include lato-lighter();
                    }
                }
            }
        }
    }
}