@import '../../styles.scss';

.blog-author {
    z-index: 1;
    @include flex-row();

    .author-pic {
        width: 100px;
        height: 100px;

        @media (max-width:420px) {
            width: 70px;
            height: 70px;
        }
    }

    .author-name {
        font-family: $lato;

        @media (max-width:420px) {
            font-size: 10px;
        }
    }

    .author-details {
        @include flex-row();
        gap: 30px;
        font-family: $lato;

        @media (max-width:420px) {
            width: 150px;
            gap: 20px;
            padding-left: 0;
        }

        .posted-on,
        .posted-time,
        .no-of-comments {
            font-size: 16px;

            @media (max-width:670px) {
                font-size: 10px;
            }

            @media (max-width:420px) {
                font-size: 8px;
            }
        }
    }

}