@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin flex-row {
    display: flex;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin lato-lighter {
    font-family: 'Lato';
    font-weight: lighter;
}

@mixin rufina-lighter {
    font-family: 'Rufina';
    font-weight: lighter;
}

@mixin namefield-size {
    width: 450px;
    height: 60px;
}

@mixin namefield-css {
    @include namefield-size();
    padding-left: 30px;
    @include form-field-border();
}

@mixin mail-phone {
    width: 965px;
    height: 60px;
}

@mixin mail-phone-css {
    @include mail-phone();
    padding-left: 30px;
    @include form-field-border();
}

@mixin form-field-border {
    background: none;
    border: 1.5px solid black;
}

@mixin center-items {
    text-align: center;
    align-items: center;
}

$rufina : 'Rufina';
$lato: 'Lato';

.comment-card {
    @include flex-row();
    align-items: flex-start;
    margin: 20px 0 20px 0;

    &:nth-child(odd) {
        padding-left: 100px;
    }

    .user {
        width: auto;
        height: auto;
    }

    .comment-info {
        @include flex-column();
        font-family: $lato;
        font-size: 12px;
        text-align: left;

        @media (max-width:430px) {
            font-size: 7px;
        }


        .username {
            font-weight: 900;
            margin-top: 0;
        }

        .postedtime {
            color: #B0B0B0;
            margin-top: 0;
        }

        .comment {
            color: #4D4D4D;
            margin-top: 0;
        }
    }

    .reply-btn {
        border: none;
        background: none;
        font-weight: 700;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transition-duration: 0.05s;
            text-shadow: 0 0 2px #585858;
        }
    }
}