@import '../../styles.scss';

.navigation-bar {
    @include flex-row();
    position: relative;
    justify-content: space-between;

    .navigation-menu {
        @include flex-row();
        gap: 20px;
        padding: 20px 0 0 70px;

        @media only screen and (max-width: $mobile-size) {
            gap: 0px;
            padding: 10px 0 0 30px;
        }


        .navigation-menu-logo {
            width: 65%;
            height: 65%;

            @media (max-width:670px) {
                width: 40%;
                height: 40%;
            }

            @media only screen and (max-width: $mobile-size) {
                width: 70px;
                height: 40px;
            }
        }

        .menu-btn {
            width: 70px;
            height: 50px;
            background: none;
            border: none;

            @media (max-width:670px) {
                width: 50px;
                height: 40px;
            }

            @media only screen and (max-width: $mobile-size) {
                width: 50px;
                height: 30px;
            }
        }

        .navigation-menu-nav-btn {
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ff9d72;
            }
        }
    }

    .reservations-menu {
        @include flex-row();
        gap: 20px;
        font-size: 18px;
        color: white;
        padding: 20px 70px 0 0;
        font-family: $inter;

        @media only screen and (max-width: $mobile-size) {
            font-size: 10px;
            gap: 10px;
            padding: 10px 30px 0 0;
        }

        .reservations-menu-contact {
            @media only screen and (max-width: 870px) {
                font-size: 12px;
            }

            @media only screen and (max-width: $mobile-size) {
                font-size: 8px;
            }
        }

        .reservation-btn {
            background: none;
            border: none;

            @media only screen and (max-width: $mobile-size) {
                width: 100px;
                height: 50px;
            }
        }

        .reservations-menu-reserve-btn {
            border: 1.5px solid white;
            font-size: 22px;
            padding: 10px;
            color: white;
            font-family: $primary-font;
            margin: 0;
            text-decoration: none;

            @media (max-width: 670px) {
                width: 80px;
                height: 20px;
                font-size: 14px;
            }

            @media only screen and (max-width: $mobile-size) {
                font-size: 11px;
                width: 60px;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ff9d72;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}