@import '../../styles.scss';

.gridcard-large {
    position: relative;

    .portfolio-cover {
        width: 700px;
        height: 500px;
        background-size: contain;
        position: relative;
        z-index: 0;
        object-fit: cover;

        @media (max-width:1024px) {
            width: 550px;
        }

        @media (max-width:920px) {
            width: 500px;
        }

        @media (max-width:820px) {
            width: 450px;
        }

        @media (max-width:670px) {
            width: 380px;
        }

        @media (max-width:$mobile-size) {
            width: 210px;
            height: 300px;
        }
    }

    .portfolio-details {
        @include flex-column();
        position: absolute;
        justify-self: flex-start;
        margin: -150px 0 0 30px;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

        @media (max-width:$mobile-size) {
            margin: -50px 0 0 10px;
        }

        .portfolio-title {
            font-family: $primary-font;
            font-size: 25px;
            color: white;
            width: 400px;
            text-align: left;
            margin: 0;

            @media (max-width:670px) {
                width: 350px;
            }

            @media (max-width: $mobile-size) {
                font-size: 10px;
                width: 190px;
            }
        }

        .tags {
            @include flex-row();
            gap: 20px;
            color: white;

            .session {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }

            .category {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }
        }
    }
}

.gridcard-small {
    position: relative;

    .portfolio-cover {
        width: 400px;
        height: 500px;
        background-size: contain;
        position: relative;
        z-index: 0;
        object-fit: cover;

        @media (max-width:1024px) {
            width: 350px;
        }

        @media (max-width:920px) {
            width: 300px;
        }

        @media (max-width:820px) {
            width: 250px;
        }

        @media (max-width:670px) {
            width: 220px;
        }

        @media (max-width:$mobile-size) {
            width: 100px;
            height: 300px;
        }

    }

    .portfolio-details {
        @include flex-column();
        position: absolute;
        justify-self: flex-start;
        margin: -150px 0 0 30px;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

        @media (max-width:$mobile-size) {
            margin: -50px 0 0 10px
        }

        .portfolio-title {
            font-family: $primary-font;
            font-size: 25px;
            color: white;
            width: 350px;
            text-align: left;
            margin: 0;

            @media (max-width:920px) {
                width: 300px;
            }

            @media (max-width:820px) {
                width: 250px;
            }

            @media (max-width:670px) {
                width: 200px;
            }

            @media (max-width: $mobile-size) {
                font-size: 10px;
                width: 100px;
            }
        }

        .tags {
            @include flex-row();
            gap: 20px;
            color: white;

            .session {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }

            .category {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }
        }
    }
}

.gridcard-medium {
    position: relative;

    .portfolio-cover {
        width: 550px;
        height: 500px;
        background-size: contain;
        position: relative;
        z-index: 0;
        object-fit: cover;

        @media (max-width:1024px) {
            width: 450px;
        }

        @media (max-width:920px) {
            width: 400px;
        }

        @media (max-width:820px) {
            width: 350px;
        }

        @media (max-width:670px) {
            width: 300px;
        }

        @media (max-width:$mobile-size) {
            width: 155px;
            height: 300px;
        }
    }

    .portfolio-details {
        @include flex-column();
        position: absolute;
        justify-self: flex-start;
        margin: -150px 0 0 30px;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

        @media (max-width:$mobile-size) {
            margin: -50px 0 0 10px;
        }

        .portfolio-title {
            font-family: $primary-font;
            font-size: 25px;
            color: white;
            width: 400px;
            text-align: left;
            margin: 0;

            @media (max-width:920px) {
                width: 350px;
            }

            @media (max-width:820px) {
                width: 300px;
            }

            @media (max-width:670px) {
                width: 275px;
            }

            @media (max-width: $mobile-size) {
                font-size: 10px;
                width: 150px;
            }
        }

        .tags {
            @include flex-row();
            gap: 20px;
            color: white;

            .session {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }

            .category {
                font-size: 15px;
                font-family: $secondary-font;

                @media (max-width:$mobile-size) {
                    font-size: 8px;
                }
            }
        }
    }
}