@import '../../styles.scss';

.tag-container {
    margin-top: 20px;

    @media (max-width:430px) {
        margin-top: 10px;
    }

    .tag-name {
        border: 1px solid black;
        margin: 0;
        padding: 5px;

        @media (max-width:430px) {
            padding: 2px;
        }
    }
}