@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin flex-row {
    display: flex;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin lato-lighter {
    font-family: 'Lato';
    font-weight: lighter;
}

@mixin rufina-lighter {
    font-family: 'Rufina';
    font-weight: lighter;
}

@mixin namefield-size {
    width: 450px;
    height: 60px;
}

@mixin namefield-css {
    @include namefield-size();
    padding-left: 30px;
    @include form-field-border();
}

@mixin mail-phone {
    width: 965px;
    height: 60px;
}

@mixin mail-phone-css {
    @include mail-phone();
    padding-left: 30px;
    @include form-field-border();
}

@mixin form-field-border {
    background: none;
    border: 1.5px solid black;
}

@mixin center-items {
    text-align: center;
    align-items: center;
}

$rufina : 'Rufina';
$lato: 'Lato';

.grid-section {
    @include flex-column();
    margin: 100px 0 100px 0;
    text-align: center;
    align-items: center;

    .category-list {
        .list {
            list-style-type: none;
            @include flex-row();
            gap: 30px;
            padding: 0;

            @media (max-width: 420px) {
                gap: 2px;
            }

            button {
                border: none;
                background: none;
                font-family: $lato;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    transition-duration: 0.05s;
                    box-shadow: 0 0 10px #cacaca;
                }
            }
        }
    }

    .portfolio-section {
        @include flex-row();
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}