@import '../../styles.scss';

.categories {
    width: auto;
    height: auto;
    padding-bottom: 100px;
    overflow: hidden;

    .category-headline {
        font-family: $primary-font;
        text-align: center;

        .headline {
            font-size: 54px;
            width: 450px;
            margin: 0 auto;
            padding: 50px 0 30px 0;

            @media (max-width:$mobile-size) {
                font-size: 25px;
                width: 300px;
            }
        }

        .headline-desc {
            font-size: 15px;
            padding-bottom: 90px;

            @media (max-width:$mobile-size) {
                font-size: 12px;
            }
        }
    }

    .menu-category {
        display: flex;
        justify-content: space-evenly;
        column-gap: 50px;
        margin: 0 auto;
        padding-bottom: 120px;
        font-family: $primary-font;

        @media (max-width:770px) {
            column-gap: 20px;
        }
    }
}