@import '../../styles.scss';

.chef-banner {
    background-color: #EBF0E4;
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;

    .man-cooks {
        display: flex;
        flex-direction: column;

        .leaf-left {
            z-index: 0;
            position: absolute;
            width: 300px;
            height: 200px;
            align-self: flex-start;
            top: 120px;

            @media (max-width:920px) {
                width: 250px;
                height: 170px;
                top: 120px;
            }

            @media(max-width: 770px) {
                width: 220px;
                height: 150px;
                top: 70px;
            }

            @media (max-width:670px) {
                width: 180px;
                height: 140px;
            }

            @media (max-width:$mobile-size) {
                width: 100px;
                height: 100px;
            }
        }

        .man-sprinkles {
            position: relative;
            top: 150px;
            width: 600px;
            height: 600px;
            z-index: 1;

            @media (max-width: 920px) {
                width: 550px;
                height: 500px;
                top: 140px;
            }

            @media(max-width: 770px) {
                width: 500px;
                height: 500px;
                top: 100px;
            }

            @media (max-width:670px) {
                width: 400px;
                height: 450px;
            }

            @media (max-width:$mobile-size) {
                width: 250px;
                height: 250px;
            }
        }
    }

    .cook-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .excellent-cook {
            font-size: 50px;
            width: 200px;
            font-family: $primary-font;
            margin-top: 180px;

            @media (max-width:920px) {
                font-size: 40px;
                margin-top: 150px;
            }

            @media(max-width: 770px) {
                font-size: 30px;
                margin-top: 120px;
            }

            @media (max-width:670px) {
                font-size: 25px;
                width: 150px;
                margin-top: 150px;
            }

            @media (max-width:$mobile-size) {
                font-size: 10px;
                width: 100px;
                margin-top: 100px;
            }
        }

        .cook-desc {
            width: 300px;
            font-size: 12px;
            margin: 0;

            @media (max-width:920px) {
                font-size: 10px;
                width: 250px;
            }

            @media(max-width: 770px) {
                width: 220px;
            }

            @media (max-width:670px) {
                width: 200px;
                font-size: 8px;
            }

            @media (max-width:$mobile-size) {
                font-size: 6px;
                width: 100px;
            }
        }

        .leaf-right {
            width: 270px;
            height: 200px;
            align-self: flex-end;
            text-align: start;
            margin-top: 80px;
            padding-bottom: 50px;

            @media (max-width:920px) {
                width: 250px;
                height: 170px;
                margin-top: 80px;
                padding-bottom: 40px;
            }

            @media(max-width: 770px) {
                width: 220px;
                height: 150px;
                margin-top: 100px;
            }

            @media (max-width:670px) {
                width: 180px;
                height: 140px;
            }

            @media (max-width:$mobile-size) {
                width: 100px;
                height: 100px;
                margin-top: 50px;
            }
        }
    }
}