@import '../../styles.scss';

.homepage-section3 {
    background-color: #EBF0E4;
    width: auto;
    height: auto;
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;

    .man-cooks {
        display: flex;
        flex-direction: column;

        .man-sprinkles {
            width: 100%;
            height: 100%;
        }
    }
}