@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin flex-row {
    display: flex;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin lato-lighter {
    font-family: 'Lato';
    font-weight: lighter;
}

@mixin rufina-lighter {
    font-family: 'Rufina';
    font-weight: lighter;
}

@mixin namefield-size {
    width: 450px;
    height: 60px;
}

@mixin namefield-css {
    @include namefield-size();
    padding-left: 30px;
    @include form-field-border();
}

@mixin mail-phone {
    width: 965px;
    height: 60px;
}

@mixin mail-phone-css {
    @include mail-phone();
    padding-left: 30px;
    @include form-field-border();
}

@mixin form-field-border {
    background: none;
    border: 1.5px solid black;
}

@mixin center-items {
    text-align: center;
    align-items: center;
}

$rufina : 'Rufina';
$lato: 'Lato';

.homepage-section1 {
    background-color: #233000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .healthy-eating {
        padding: 150px 0 100px 0;
        position: relative;

        .healthy-eat-description {
            font-family: $rufina;
            width: 500px;
            font-size: 70px;
            // padding: 0 0 0 20px;
            display: flex;
            color: #ffff;
            position: absolute;
            top: 10px;
            z-index: 1;
            left: 160px;

            @media (max-width:920px) {
                font-size: 50px;
                width: 380px;
                top: 40px;
            }

            @media (max-width:770px) {
                font-size: 40px;
                width: 300px;
                top: 70px;
            }

            @media (max-width:420px) {
                font-size: 20px;
                width: 150px;
                top: 100px;
                left: 30px;
            }
        }

        .meat-on-a-plate {
            background: url("../../assests/images/meat-plate.png") no-repeat;
            background-size: contain;
            z-index: 0;
            float: right;
            height: 500px;
            width: 400px;
            position: relative;
            right: 300px;

            @media (max-width:920px) {
                height: 340px;
                width: 300px;
                right: 180px;
            }

            @media (max-width:770px) {
                height: 300px;
                width: 260px;
                right: 120px;
            }

            @media (max-width:420px) {
                width: 200px;
                height: 230px;
                right: 50px;
            }
        }

        .spices {
            position: absolute;
            z-index: 2;
            right: 430px;
            top: 520px;
            @include flex-row();
            gap: 20px;

            @media (max-width:920px) {
                right: 250px;
                top: 410px;

                @media (max-width:770px) {
                    right: 190px;
                    top: 390px;
                }

                @media (max-width:420px) {
                    top: 340px;
                    right: 130px;
                }
            }

            .spices1,
            .spices2,
            .spices3 {
                width: 150px;
                height: 130px;
                background-size: contain;

                @media (max-width:920px) {
                    width: 120px;
                    height: 100px;
                }

                @media (max-width:770px) {
                    width: 100px;
                    height: 80px;
                }

                @media (max-width:420px) {
                    width: 60px;
                    height: 50px;
                }
            }

        }
    }

    .healthy-diet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 190px;

        .mussels {
            display: flex;
            flex-direction: column;

            @media (max-width:770px) {
                margin-left: 30px;
            }

            .mussel-pasta {
                width: 80%;
                height: auto;

                @media (max-width:920px) {
                    width: 80%;
                }

                @media (max-width:770px) {
                    width: 60%;
                }
            }

            .diet-desc {
                font-family: $rufina;
                font-weight: 700;
                font-size: 35px;
                line-height: 44px;
                width: 250px;
                word-spacing: 1px;
                color: white;

                @media (max-width:920px) {
                    font-size: 25px;
                }

                @media (max-width:420px) {
                    font-size: 17px;
                    width: 150px;
                }
            }

            .mussel-description {
                font-family: $rufina;
                font-weight: 70;
                font-size: 20px;
                width: 430px;
                color: white;

                @media (max-width:920px) {
                    font-size: 17px;
                    width: 350px;
                }

                @media (max-width:420px) {
                    font-size: 12px;
                    width: 150px;
                }
            }
        }

        .salt-pepper {
            display: flex;
            flex-direction: column;

            .salt-pepper-desc {
                font-family: $rufina;
                font-weight: 70;
                font-size: 20px;
                width: 360px;
                color: white;
                padding-bottom: 100px;

                @media (max-width:920px) {
                    font-size: 17px;
                    width: 300px;
                }

                @media (max-width:420px) {
                    font-size: 12px;
                    width: 150px;
                }
            }

            .salt-pepper-img {
                width: 80%;
                height: auto;
                color: white;

                @media (max-width:920px) {
                    width: 80%;
                    height: 80%;
                }

                @media (max-width:420px) {
                    width: 70%;
                    height: 70%;
                }
            }
        }
    }
}