@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin flex-row {
    display: flex;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin lato-lighter {
    font-family: 'Lato';
    font-weight: lighter;
}

@mixin rufina-lighter {
    font-family: 'Rufina';
    font-weight: lighter;
}

@mixin namefield-size {
    width: 450px;
    height: 60px;
}

@mixin namefield-css {
    @include namefield-size();
    padding-left: 30px;
    @include form-field-border();
}

@mixin mail-phone {
    width: 965px;
    height: 60px;
}

@mixin mail-phone-css {
    @include mail-phone();
    padding-left: 30px;
    @include form-field-border();
}

@mixin form-field-border {
    background: none;
    border: 1.5px solid black;
}

@mixin center-items {
    text-align: center;
    align-items: center;
}

$rufina : 'Rufina';
$lato: 'Lato';

.header-container {
    position: relative;
}

.header-bg {
    background-image: url("./assests/images/header-bg.png");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;

    @media only screen and (max-width: 420px) {
        width: 100%;
        height: 300px;
    }
}

.Navigation-bar {
    @include flex-row();
    position: relative;
    justify-content: space-between;

    .Navigation-menu {
        @include flex-row();
        gap: 20px;
        padding: 20px 0 0 70px;

        @media only screen and (max-width: 420px) {
            gap: 0px;
            padding: 10px 0 0 30px;
        }


        .Navigation-menu-logo {
            width: 65%;
            height: 65%;

            @media only screen and (max-width: 420px) {
                width: 70px;
                height: 40px;
            }
        }

        .Menu-btn {
            width: 70px;
            height: 50px;
            background: none;
            border: none;

            @media only screen and (max-width: 420px) {
                width: 50px;
                height: 30px;
            }
        }

        .Navigation-menu-nav-btn {
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ff9d72;
            }
        }
    }

    .Reservations-menu {
        @include flex-row();
        gap: 20px;
        font-size: 18px;
        color: white;
        padding: 20px 70px 0 0;
        font-family: 'Inter';

        @media only screen and (max-width: 420px) {
            font-size: 10px;
            gap: 10px;
            padding: 10px 30px 0 0;
        }

        .Reservations-menu-contact {
            @media only screen and (max-width: 870px) {
                font-size: 13px;
            }

            @media only screen and (max-width: 420px) {
                font-size: 8px;
            }
        }

        .Reservation-btn {
            background: none;
            border: none;

            @media only screen and (max-width: 420px) {
                width: 100px;
                height: 50px;
            }
        }

        .Reservations-menu-reserve-btn {
            border: 1.5px solid white;
            font-size: 22px;
            padding: 10px;
            color: white;
            font-family: 'Rufina';
            margin: 0;
            text-decoration: none;

            @media only screen and (max-width: 420px) {
                font-size: 10px;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ff9d72;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.contact-header-hero {
    @include flex-column();
    position: relative;
    color: white;
    padding: 20px 0 0 100px;
    font-family: 'Rufina';

    @media only screen and (max-width: 420px) {
        padding: 10px 0 0 50px;
    }

    .contact-header-hero-title {
        font-size: 100px;
        margin-bottom: 0px;

        @media only screen and (max-width: 420px) {
            font-size: 20px;
        }
    }

    .contact-header-hero-title-description {
        font-size: 20px;

        @media only screen and (max-width: 420px) {
            font-size: 10px;
        }
    }
}

.opentime {
    position: relative;
    color: white;
    width: auto;
    @include flex-column();
    margin-top: 50px;

    @media only screen and (max-width: 420px) {
        margin-top: 30px;
    }

    .opentime-table {
        width: 450px;
        @include flex-column();
        align-self: end;
        padding-right: 80px;

        @media only screen and (max-width: 420px) {
            padding-right: 30px;
        }

        .opentime-header {
            @include flex-row();
            justify-content: space-between;

            @media only screen and (max-width: 420px) {
                font-size: 10px;
            }

            .opentime-title {
                @include rufina-lighter();
            }

            .opened-days {
                @include lato-lighter();
            }
        }

        .dotted-line {
            border: none;
            border-top: 2px dotted white;

            @media only screen and (max-width: 420px) {
                width: 250px;
                position: relative;
                right: -200px;
            }
        }

        .available-timings {
            padding-top: 30px;

            @media only screen and (max-width: 420px) {
                padding-top: 10px;
                font-size: 10px;
                display: flex;
                justify-content: flex-end;
            }

            .time-table {
                width: 100%;

                @media only screen and (max-width: 420px) {
                    width: 50%;
                }

                .brunch {
                    text-align: left;
                    @include lato-lighter();
                }

                .lunch {
                    text-align: center;
                    @include lato-lighter();
                }

                .dinner {
                    text-align: right;
                    @include lato-lighter();
                }
            }
        }
    }
}

.address-location {
    background: none;
    margin-top: 300px;
    color: #233000;
    font-family: $rufina;
    @include flex-column();
    @include center-items();
    padding-bottom: 150px;

    @media only screen and (max-width: 420px) {
        margin-top: 200px;
    }

    .contact-section {
        @include flex-row();
        gap: 200px;

        @media only screen and (max-width: 420px) {
            gap: 50px;
        }

        .lemon-with-orange {
            position: relative;

            .orange {
                position: absolute;
                z-index: -1;
                left: 325px;
                top: -60px;
                width: 200px;
                height: 200px;

                @media only screen and (max-width: 1000px) {
                    top: -50px;
                    left: 245px;
                    width: 150px;
                    height: 150px;
                }

                @media only screen and (max-width: 870px) {
                    top: -40px;
                    left: 155px;
                    width: 130px;
                    height: 130px;
                }

                @media only screen and (max-width: 420px) {
                    top: -30px;
                    left: 88px;
                    width: 90px;
                    height: 90px;
                }
            }

            .lemons-on-table {
                width: 400px;
                height: 350px;

                @media only screen and (max-width: 1000px) {
                    width: 300px;
                    height: 250px;
                }

                @media only screen and (max-width: 870px) {
                    width: 200px;
                    height: 200px;
                }

                @media only screen and (max-width: 420px) {
                    width: 120px;
                    height: 120px;
                }
            }
        }

        .email-and-phone {
            width: 350px;
            font-size: 20px;
            text-align: left;
            align-self: end;
            padding-bottom: 30px;

            @media only screen and (max-width: 870px) {
                width: 250px;
                font-size: 15px;
            }

            @media only screen and (max-width: 420px) {
                width: 130px;
                font-size: 8px;
            }
        }

        a {
            text-decoration: none;
            color: #9CAA00;
        }
    }

    .address-section {
        @include flex-row();
        margin-top: 100px;
        gap: 100px;

        @media only screen and (max-width: 420px) {
            gap: 50px;
        }

        .address-and-map {
            @include flex-column();

            .address {
                width: 450px;
                text-align: left;
                font-size: 20px;

                @media only screen and (max-width: 870px) {
                    width: 250px;
                    font-size: 15px;
                }

                @media only screen and (max-width: 420px) {
                    width: 130px;
                    font-size: 8px;
                }
            }

            .map-link {
                font-size: 20px;
                width: 150px;
                height: 50px;
                font-family: $rufina;
                background: none;

                @media only screen and (max-width: 870px) {
                    width: 150px;
                    font-size: 15px;
                }

                @media only screen and (max-width: 420px) {
                    width: 90px;
                    font-size: 10px;
                }

                p {
                    margin: 0;
                }

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    transition-duration: 0.05s;
                    box-shadow: 0 0 10px #2d2d2d;
                }
            }
        }

        .restaurant-sv {
            width: 400px;
            height: 350px;

            @media only screen and (max-width: 1000px) {
                width: 300px;
                height: 250px;
            }

            @media only screen and (max-width: 420px) {
                width: 120px;
                height: 120px;
            }
        }
    }
}

.form {
    background-color: #EBF0E4;
    @include flex-column();
    @include center-items();

    .form-header {
        padding-top: 80px;
        display: flex;
        text-align: left;
        align-items: center;
        padding-bottom: 80px;

        .mint {
            width: 300px;
            height: 200px;

            @media only screen and (max-width: 870px) {
                width: 250px;
                height: 150px;
            }

            @media only screen and (max-width: 420px) {
                width: 130px;
                height: 80px;
            }
        }

        .form-title {
            @include flex-column();
            z-index: 0;
            position: relative;
            margin-top: 140px;
            margin-left: -50px;

            @media only screen and (max-width: 420px) {
                margin-top: 70px;
                margin-left: -30px;
            }

            .form-header-title {
                margin: 0;
                font-size: 70px;
                font-weight: 500;
                font-family: $rufina;

                @media only screen and (max-width: 870px) {
                    font-size: 40px;
                }

                @media only screen and (max-width: 420px) {
                    font-size: 20px;
                }
            }

            .form-header-subtitle {
                margin: 0;
                font-size: 20px;
                color: gray;
                font-family: 'Lato';

                @media only screen and (max-width: 420px) {
                    font-size: 10px;
                }
            }
        }

    }

    .form-input {
        @include flex-column();
        @include center-items();
        gap: 30px;
        padding-bottom: 100px;
        font-family: 'Lato';

        .name {
            @include flex-row();
            justify-content: space-evenly;
            gap: 30px;

            .first-name {
                @include namefield-css();

                &::placeholder {
                    color: black;
                }

                @media only screen and (max-width: 1020px) {
                    width: 350px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 250px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 120px;
                    height: 30px;
                }
            }

            .last-name {
                @include namefield-css();

                &::placeholder {
                    color: black;
                }

                @media only screen and (max-width: 1020px) {
                    width: 350px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 250px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 120px;
                    height: 30px;
                }
            }
        }

        .mail-and-phone {
            @include flex-column();
            @include center-items();
            gap: 30px;

            .mail {
                @include mail-phone-css();

                &::placeholder {
                    color: black;
                }

                @media only screen and (max-width: 1020px) {
                    width: 765px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 565px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 305px;
                    height: 30px;
                }
            }

            .phone {
                @include mail-phone-css();

                &::placeholder {
                    color: black;
                }

                @media only screen and (max-width: 1020px) {
                    width: 765px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 565px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 305px;
                    height: 30px;
                }
            }
        }

        .schedule {
            @include flex-row();
            justify-content: space-evenly;
            gap: 37px;

            .select-date {
                width: 468px;
                height: 60px;
                padding-left: 30px;
                @include form-field-border();
                font-family: 'Lato';

                @media only screen and (max-width: 1020px) {
                    width: 365px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 265px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 135px;
                    height: 30px;
                }
            }

            .time {
                width: 465px;
                height: 62px;
                padding-left: 30px;
                @include form-field-border();
                font-family: 'Lato';

                @media only screen and (max-width: 1020px) {
                    width: 365px;
                    height: 50px;
                }

                @media only screen and (max-width: 870px) {
                    width: 265px;
                    height: 50px;
                }

                @media only screen and (max-width: 420px) {
                    width: 135px;
                    height: 32px;
                }
            }
        }

        .no-of-persons {
            width: 1005px;
            height: 60px;
            padding-left: 30px;
            @include form-field-border();

            @media only screen and (max-width: 1020px) {
                width: 800px;
                height: 55px;
            }

            @media only screen and (max-width: 870px) {
                width: 595px;
                height: 50px;
            }

            @media only screen and (max-width: 420px) {
                width: 340px;
                height: 40px;
            }
        }

        .book-now {
            width: 200px;
            height: 60px;
            font-size: 20px;
            @include form-field-border();
            font-family: $rufina;
            color: white;
            background-color: #5E6600;

            @media only screen and (max-width: 420px) {
                width: 150px;
                height: 50px;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 5px #323232;
            }
        }
    }
}


.footer-container {
    background-color: #233000;
    color: #FFFF;

    .footer {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0 20px 0;

        @media only screen and (max-width: 420px) {
            font-size: 8px;
        }

        .brand-name {
            font-family: $rufina;
            font-size: 30px;
            word-wrap: break-word;
            width: 120px;

            @media only screen and (max-width: 420px) {
                font-size: 12px;
                width: 50px;
            }
        }

        .contact-us,
        .mail-title {
            font-family: $rufina;
            font-size: 20px;
            padding-bottom: 35px;

            @media only screen and (max-width: 420px) {
                font-size: 10px;
                padding-bottom: 20px;
            }
        }

        .telephone {
            font-family: $lato;
        }

        .address {
            font-family: $lato;
            width: 170px;

            @media only screen and (max-width: 420px) {
                width: 100px;
            }
        }

        .mail {
            padding-bottom: 20px;
            font-family: $lato;

            a {
                color: #FFFF;
                text-decoration: none;
            }
        }

        .telephone a {
            color: #FFFF;
            text-decoration: none;
        }

        .mail-to-us {
            display: flex;
            align-items: center;
            gap: 30px;
            padding-bottom: 15px;
        }

        .mail-id {
            border: 1.5px solid;
            border-radius: 0px;
            width: 300px;
            height: 45px;
            text-indent: 20px;
            font-family: $lato;
            background-color: #233000;
            color: #FFFF;

            @media only screen and (max-width: 420px) {
                width: 100px;
                height: 20px;
            }

            &::placeholder {
                color: #FFFF;

                @media only screen and (max-width: 420px) {
                    font-size: 8px;
                }
            }
        }

        .mail-button {
            font-size: 15px;
            font-family: $rufina;
            border-radius: 0px;
            border: 0px;
            width: 100px;
            height: 43px;
            background-color: #5E6600;
            color: #FFFF;

            @media only screen and (max-width: 420px) {
                width: 50px;
                height: 20px;
                font-size: 7px;
            }

            &:hover {
                cursor: pointer;
            }

            &:active {
                background-color: #495100;
            }
        }

        .subscription-note {
            font-family: $lato;
            font-size: 10px;

            @media only screen and (max-width: 420px) {
                font-size: 6px;
                width: 130px;
            }
        }
    }

    .footer-dotted-line {
        border-bottom: 2px dotted #FFFF;
    }

    .copyright-section {
        padding: 0px 0 30px 0;
        @include flex-row();
        justify-content: space-between;

        .copyright {
            font-family: $lato;
            padding-left: 100px;

            @media only screen and (max-width: 420px) {
                padding-left: 10px;
            }
        }

        .social-media-icon {
            padding: 5px;
        }

        .social-media-links {
            padding-right: 100px;

            @media only screen and (max-width: 420px) {
                width: 150px;
                padding-right: 10px;
            }
        }
    }
}

@mixin form-reservation-input {
    height: 50px;
    width: 280px;
}

.form-reservation {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #EBF0E4;

    .reservation-header {
        @include flex-column();
        margin: 40px 0 60px 0;

        .reservation-header-title {
            font-size: 50px;
            font-family: $rufina;
            margin-bottom: 0px;
        }

        .reservation-header-headline {
            font-size: 15px;
            margin-top: 0px;
            font-family: $lato;
            color: #4D4D4D;
        }
    }

    .schedule-options {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 150px;

        .select-schedule {
            @include flex-row();
            margin-bottom: 100px;
            gap: 30px;

            .date {
                @include form-reservation-input();
                background-color: #EBF0E4;
                @include form-field-border();
            }

            .time {
                @include form-reservation-input();
                background-color: #EBF0E4;
                @include form-field-border();
            }

            .no-of-persons {
                @include form-reservation-input();
                background-color: #EBF0E4;
                @include form-field-border();
            }
        }

        .book-now {
            width: 200px;
            height: 50px;
            font-family: $rufina;
            color: white;
            @include form-field-border();
            background-color: #233000;

            &:hover {
                cursor: pointer;
            }

            &:active {
                transition-duration: 0.05s;
                box-shadow: 0 0 10px #ff9d72;
            }
        }
    }
}


.blog-card {
    @include flex-column();
    width: 550px;
    height: 700px;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;

    .blog-cover-image {
        width: 500px;
        height: 600px;
    }

    .author-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        .author-profile-container {
            @include flex-row();
            font-family: $lato;
            color: #5E6600;
            font-size: 12px;
            margin: 20px 0 10px 0;

            .author-profile {
                width: 60px;
                height: 60px;
            }

            .author-bio {
                @include flex-row();
                gap: 0px;

                .bio-list {
                    @include flex-row();
                    gap: 30px;
                    padding-left: 20px;
                }
            }
        }

        .post-info {
            @include flex-column();
            width: 450px;
            font-weight: 700;
            align-items: flex-start;
            text-align: left;

            .post-title {
                font-family: $rufina;
                font-size: 30px;
                width: 380px;
                margin: 10px 10px 10px 0;
            }

            .dotted-line {
                width: 380px;
                border: none;
                border-top: 2px dotted black;
            }

            .post-oneliner {
                font-family: $lato;
                font-size: 15px;
                color: #4D4D4D;
            }

            .read-article {
                @include flex-row();

                .read-more {
                    background: none;
                    border: none;
                    font-family: $lato;
                    font-size: 15px;
                    padding: 20px 10px 10px 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .arrow {
                        width: 20px;
                        height: 10px;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .blog-card {
        width: 100%;
        height: 100%;

        .blog-cover-image {
            width: 70%;
            height: auto;
        }

        .author-info {
            width: 70%;
            margin-left: 40px;


            .post-title {
                width: 100%;
            }

            .dotted-line {
                width: 70%;
            }
        }
    }
}



@media (max-width: 576px) {
    .blog-card {
        height: auto;
        margin-bottom: 50px;

        .blog-cover-image {
            width: 100%;
            height: auto;
        }

        .author-info {
            .author-profile-container {
                .author-profile {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .author-info .post-info {
            .post-title {
                font-size: 24px;
                width: 100%;
            }

            .post-oneliner {
                font-size: 14px;
            }

            .read-article .read-more {
                padding: 10px 5px 5px 0;

                .arrow {
                    width: 15px;
                    height: 8px;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .blog-card {
        width: 300px;
        height: 450px;
        margin-bottom: 100px;

        .blog-cover-image {
            width: 300px;
            height: 400px;
        }

        .author-info {
            margin: 0px;

            .author-profile-container {
                font-size: 7px;
                margin: 20px 0 10px 0;

                .author-profile {
                    width: 30px;
                    height: 30px;
                }
            }

            .post-info {
                @include flex-column();
                width: 300px;
                font-weight: 700;

                .post-title {
                    font-size: 12px;
                    width: 200px;
                    margin: 10px 10px 10px 0;
                }

                .dotted-line {
                    width: 170px;
                }

                .post-oneliner {
                    font-size: 7px;
                    color: #4D4D4D;
                }

                .read-article {
                    .read-more {
                        background: none;
                        border: none;
                        font-family: $lato;
                        font-size: 10px;
                        padding: 20px 10px 10px 0;

                        &:hover {
                            cursor: pointer;
                        }

                        .arrow {
                            width: 12px;
                            height: 6px;
                        }
                    }
                }
            }
        }
    }
}

.flower-bg {
    background-image: url("./assests/images/flower.png");
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;

    @media only screen and (max-width: 420px) {
        width: 100%;
        height: 300px;
    }
}

.blog-column-hero {
    @include flex-column();
    text-align: center;
    align-items: center;
    position: relative;
    color: white;
    padding: 75px 0 0 0px;

    @media only screen and (max-width: 420px) {
        padding: 10px 0 0 50px;
    }

    .blog-column-hero-title {
        font-size: 72px;
        margin-bottom: 0px;
        font-family: $rufina;

        @media only screen and (max-width: 420px) {
            font-size: 20px;
        }
    }

    .blog-column-hero-title-description {
        font-size: 15px;
        font-family: $lato;

        @media only screen and (max-width: 420px) {
            font-size: 10px;
        }
    }
}

.blog-section {
    @include flex-column();
    margin-top: 250px;
    text-align: center;
    align-items: center;

    .breadcrumbs {
        @include flex-row();
        margin-bottom: 50px;
        align-self: flex-start;
        padding-left: 50px;

        .blog-path {
            color: #B0B0B0;
        }

        .blog-path-source {
            color: #4D4D4D;
        }
    }

    .blog-content {
        @include flex-row();
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
    }
}

.blog-card-horizontal {
    @include flex-row();
    width: 900px;
    height: 600px;
    justify-content: space-evenly;
    gap: 100px;

    .blog-cover-image-horizontal {
        width: 500px;
        height: 500px;
    }

    .author-info-horizontal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        .author-profile-container-horizontal {
            @include flex-row();
            font-family: $lato;
            color: #5E6600;
            font-size: 12px;
            margin: 20px 0 10px 0;

            .author-profile-horizontal {
                width: 60px;
                height: 60px;
            }

            .author-bio-horizontal {
                @include flex-row();
                gap: 0px;

                .bio-list-horizontal {
                    @include flex-row();
                    gap: 30px;
                    padding-left: 20px;
                }
            }
        }

        .post-info-horizontal {
            @include flex-column();
            width: 450px;
            font-weight: 700;
            align-items: flex-start;
            text-align: left;

            .post-title-horizontal {
                font-family: $rufina;
                font-size: 30px;
                width: 380px;
                margin: 10px 10px 10px 0;
            }

            .dotted-line-horizontal {
                width: 380px;
                border: none;
                border-top: 2px dotted black;
            }

            .post-oneliner-horizontal {
                font-family: $lato;
                font-size: 15px;
                color: #4D4D4D;
            }

            .read-article-horizontal {
                @include flex-row();

                .read-more-horizontal {
                    background: none;
                    border: none;
                    font-family: $lato;
                    font-size: 15px;
                    padding: 20px 10px 10px 0;

                    &:hover {
                        cursor: pointer;
                    }

                    .arrow-horizontal {
                        width: 20px;
                        height: 10px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1070px) {
    .blog-card-horizontal {
        width: 700px;
        height: 500px;
        gap: 50px;

        .blog-cover-image-horizontal {
            width: 400px;
            height: 400px;
        }
    }
}


@media (max-width: 920px) {
    .blog-card-horizontal {
        width: 600px;
        height: 400px;
        gap: 40px;

        .blog-cover-image-horizontal {
            width: 400px;
            height: 350px;
        }
    }
}

@media (max-width: 860px) {
    .blog-card-horizontal {
        width: 500px;
        height: 400px;
        gap: 30px;

        .blog-cover-image-horizontal {
            width: 300px;
            height: 250px;
        }

        .author-info-horizontal {
            .author-profile-container-horizontal {
                font-size: 9px;
                margin: 20px 0 10px 0;

                .author-profile-horizontal {
                    width: 40px;
                    height: 40px;
                }

                .author-bio-horizontal {
                    .bio-list-horizontal {
                        gap: 30px;
                        padding-left: 20px;
                    }
                }
            }

            .post-info-horizontal {
                width: 430px;

                .post-title-horizontal {
                    font-size: 25px;
                    width: 300px;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .blog-card-horizontal {

        .blog-cover-image-horizontal {
            width: 300px;
            height: 250px;
        }

        .author-info-horizontal {
            .author-profile-container-horizontal {
                font-size: 9px;
                margin: 20px 0 10px 0;

                .author-profile-horizontal {
                    width: 40px;
                    height: 40px;
                }

                .author-bio-horizontal {
                    .bio-list-horizontal {
                        gap: 30px;
                        padding-left: 20px;
                    }
                }
            }

            .post-info-horizontal {
                width: 350px;

                .post-title-horizontal {
                    font-size: 20px;
                    width: 300px;
                }

                .dotted-line-horizontal {
                    width: 250px;
                }

                .post-oneliner-horizontal {
                    font-size: 10px;
                }
            }
        }
    }
}


@media (max-width: 650px) {
    .blog-card-horizontal {
        width: 300px;
        height: 250px;

        .blog-cover-image-horizontal {
            width: 250px;
            height: 200px;
        }

        .author-info-horizontal {
            .author-profile-container-horizontal {
                font-size: 7px;
                margin: 10px 0 10px 0;

                .author-profile-horizontal {
                    width: 30px;
                    height: 30px;
                }

                .author-bio-horizontal {
                    .bio-list-horizontal {
                        gap: 20px;
                        padding-left: 20px;
                    }
                }
            }

            .post-info-horizontal {
                width: 300px;

                .post-title-horizontal {
                    font-size: 15px;
                    width: 300px;
                }

                .dotted-line-horizontal {
                    width: 250px;
                }

                .post-oneliner-horizontal {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .blog-card-horizontal {
        width: 200px;
        height: 220px;

        .blog-cover-image-horizontal {
            width: 120px;
            height: 120px;
        }
    }
}

.blog-section-horizontal {
    @include flex-column();
    margin-top: 250px;
    text-align: center;
    align-items: center;

    .breadcrumbs-horizontal {
        @include flex-row();
        margin-bottom: 50px;
        align-self: flex-start;
        padding-left: 110px;

        .blog-path-horizontal {
            color: #B0B0B0;
        }

        .blog-path-source-horizontal {
            color: #4D4D4D;
        }
    }

    .blog-content-horizontal {
        @include flex-column();
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
    }
}

.homepage-section1 {
    background-color: #233000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .healthy-eating {
        padding: 150px 0 100px 0;
        position: relative;

        .healthy-eat-description {
            font-family: $rufina;
            width: 500px;
            font-size: 70px;
            // padding: 0 0 0 20px;
            display: flex;
            color: #ffff;
            position: absolute;
            top: 10px;
            z-index: 1;
            left: 160px;
        }

        .meat-on-a-plate {
            background: url("./assests/images/meat-plate.png") no-repeat;
            background-size: contain;
            z-index: 0;
            float: right;
            height: 500px;
            width: 400px;
            position: relative;
            right: 300px;
        }

        .spices {
            position: absolute;
            z-index: 2;
            right: 500px;
            top: 550px;

            .spice1 .spice2 .spice3 {
                padding: 20px;
                width: 80px;
                height: 80px;
            }

        }
    }

    .healthy-diet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 190px;

        .mussels {
            display: flex;
            flex-direction: column;

            .mussel-pasts {
                width: 80%;
                height: auto;
            }

            .diet-desc {
                font-family: $rufina;
                font-weight: 700;
                font-size: 35px;
                line-height: 44px;
                width: 250px;
                word-spacing: 1px;
                color: white;
            }

            .mussel-description {
                font-family: $rufina;
                font-weight: 70;
                font-size: 20px;
                width: 430px;
                color: white;
            }
        }

        .salt-pepper {
            display: flex;
            flex-direction: column;

            .salt-pepper-desc {
                font-family: $rufina;
                font-weight: 70;
                font-size: 20px;
                width: 360px;
                color: white;
                padding-bottom: 100px;
            }

            .salt-pepper-img {
                width: 80%;
                height: auto;
                color: white;
            }
        }
    }
}

.homepage-section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;

    .menu-header {
        padding-bottom: 130px;
        display: flex;
        justify-content: space-between;

        .food-menu {
            margin: 80px 0 0 80px;

            .our-menu {
                font-family: $rufina;
                line-height: 60px;
                font-size: 54px;
                padding-bottom: 15px;
            }

            .our-menu-desc {
                width: 243.54px;
                font-family: $lato;
            }
        }

        .header-img {
            position: absolute;
            right: 0;
        }
    }

    .food-items {
        padding-bottom: 150px;
        @include flex-row();
        flex-wrap: wrap;
        justify-content: space-evenly
    }
}

.food-item {
    @include flex-column();
    width: 400px;
    align-content: space-evenly;
    margin-bottom: 40px;

    .item-price {
        font-family: $rufina;
        align-self: flex-end;
    }

    .dotted-line {
        border-bottom: 2px dotted #000000;
        width: 400px;
    }

    .item-name {
        font-family: $rufina;
        width: 400px;
        font-size: 35px;
        align-self: flex-start;
        text-align: start;
        margin: 0;
    }

    .item-desc {
        color: #4D4D4D;
        font-family: $lato;
        font-size: 15px;
        align-self: flex-start;
    }
}

.homepage-section3 {
    background-color: #EBF0E4;
    width: auto;
    height: auto;
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .man-cooks {
        display: flex;
        flex-direction: column;

        .leaf-left {
            z-index: -1;
            position: absolute;
            width: 204px;
            height: 169px;
            align-self: flex-start;
            top: 120px;
        }

        .man-sprinkles {
            position: relative;
            z-index: 2;
            margin: 150px 0 -20px 0px;
        }
    }

    .cook-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .excellent-cook {
            font-size: 30px;
            width: 200px;
            padding-bottom: 20px;
        }

        .cook-desc {
            width: 230px;
            padding-bottom: 90px;
        }

        .leaf-right {
            width: 200px;
            height: 200px;
            align-self: flex-end;
        }
    }
}

.homepage-section4 {
    width: auto;
    height: auto;
    @include flex-column();
    align-items: center;
    text-align: center;

    .quality-ingredients {
        @include flex-row();
        font-family: $rufina;
        justify-content: space-evenly;
        padding: 150px 0;

        .premium-quality,
        .seasonal-veggies,
        .fresh-fruit {
            width: 30%;
            height: 30%;

            & .ingredients-image {
                padding-bottom: 30px;
            }

            & .ingredients {
                font-size: 24px;
                padding-bottom: 40px;
            }

            & .ingredient-desc {
                font-family: $lato;
                color: #4D4D4D;
                font-size: 15px;
                margin: 0;
            }

        }

    }

    .blogs {
        @include flex-row();
        justify-content: space-evenly;
    }
}

.homepage-section5 {
    width: auto;
    height: auto;
    padding-bottom: 100px;

    .category-headline {
        font-family: $rufina;
        text-align: center;

        .headline {
            font-size: 54px;
            width: 450px;
            margin: 0 auto;
            padding: 50px 0 30px 0;
        }

        .headline-desc {
            font-size: 15px;
            padding-bottom: 90px;
        }
    }

    .menu-category {
        display: flex;
        justify-content: space-evenly;
        column-gap: 50px;
        margin: 0 auto;
        padding-bottom: 120px;

        .starters,
        .mains,
        .soups {
            width: 230px;
            height: auto;
        }
    }

    .testimonals {
        .testimony-content {
            display: flex;
            justify-content: center;
            padding-bottom: 40px;

            .client-testimony {
                font-family: 'Rufina';
                font-size: 25px;
                width: 650px;
            }

            .quote {
                float: right;
                margin-left: -80px;
            }
        }

        .client {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .client-info {
                width: 200px;
                height: 100px;
            }

            .paging {
                width: 90px;
                height: 40px;
            }
        }
    }
}


.menu-header {
    width: auto;
    height: auto;
    padding-bottom: 200px;

    .menu-header-bg {
        background-image: url("./assests/images/menu-bg.png");
        width: 100%;
        height: 650px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: 0;
    }

    .menu-header-title {
        @include flex-column();
        color: white;
        font-family: $rufina;
        margin: 100px 0 0 70px;



        .title {
            width: 400px;
            font-size: 70px;
            position: relative;
            z-index: 1;
            margin: 0;
        }

        .title-desc {
            margin-top: 20px;
            font-size: 17px;
            position: relative;
            z-index: 1;
        }
    }
}

.starters-section {
    @include flex-column();
    text-align: center;

    .starters-header {
        @include flex-column();
        text-align: center;
        align-items: center;
        margin-bottom: 70px;


        .starters-title {
            font-size: 50px;
            font-family: $rufina;
            margin-bottom: 0;
        }

        .starters-title-desc {
            font-size: 20px;
            font-family: $lato;
            color: #4D4D4D;
        }
    }

    .blueberry {
        align-self: flex-end;
        width: 250px;
        height: 250px;
        margin-left: 250px;

    }

    .starter-menu {
        @include flex-row();
        justify-content: space-evenly;
        padding-bottom: 100px;

        .starter-items {
            width: 550px;
            height: 650px;
        }

        .menu {
            @include flex-column();
        }
    }
}

.mains-section {
    @include flex-column();
    text-align: center;
    margin-bottom: 100px;

    .mains {
        @include flex-column();
        margin-bottom: 70px;

        .mains-title {
            font-size: 50px;
            font-family: $rufina;
            margin-bottom: 0;
        }

        .mains-title-desc {
            font-size: 20px;
            font-family: $lato;
            color: #4D4D4D;
        }
    }

    .main-menu {
        @include flex-row();
        justify-content: space-evenly;

        .main-items {
            width: 550px;
            height: 650px;
        }

        .menu {
            @include flex-column();
        }
    }
}

.pastries-section {
    @include flex-column();
    text-align: center;

    .pastries-header {
        @include flex-column();
        margin-bottom: 70px;

        .pastries-title {
            font-size: 50px;
            font-family: $rufina;
            margin-bottom: 0;

            .pastries-title-desc {
                font-size: 20px;
                font-family: $lato;
                color: #4D4D4D;
            }
        }
    }

    .pastry-menu {
        @include flex-row();
        justify-content: space-evenly;
        padding-bottom: 100px;

        .pastry-items {
            width: 550px;
            height: 650px;
        }

        .menu {
            @include flex-column();
        }
    }

}

.about-header-section {
    width: auto;
    height: auto;
    padding-bottom: 300px;

    .about-header-bg {
        background-image: url("./assests/images/about-bg.png");
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: 0;
    }

    .about-header-title {
        @include flex-column();
        color: white;
        font-family: $rufina;
        width: 450px;
        margin: 150px 0 0 700px;

        .about-title {
            font-size: 70px;
            z-index: 1;
            margin: 0;
        }

        .about-title-desc {
            margin-top: 20px;
            font-size: 15px;
            z-index: 1;
        }
    }
}

.about-us {
    .our-story {
        @include flex-row();
        justify-content: space-evenly;

        .ourstory-title {
            @include flex-column();
            text-align: start;

            .title {
                font-size: 50px;
                font-family: $rufina;
            }

            .title-desc {
                font-size: 20px;
                font-family: $lato;
                width: 550px;
                color: #4D4D4D;
            }
        }

        .ourstory-img {
            width: 500px;
            height: 350px;
        }
    }

    .our-team {
        @include flex-row();
        margin: 100px 0 200px 0;
        justify-content: space-evenly;

        .our-manager {
            @include flex-column();
            align-items: center;
            text-align: center;
            width: 400px;

            .manager-title {
                font-size: 30px;
                font-family: $rufina;
                font-weight: 600;
                margin-bottom: 0;
            }

            .manager-name {
                font-size: 15px;
                font-family: $lato;
            }

            .manager {
                width: 400px;
                height: 500px;
                margin-bottom: 200px;
            }

            .about-manager {
                font-size: 13px;
                font-family: $lato;
                color: #4D4D4D;
                width: 300px;
                text-align: end;
                align-self: flex-end;
            }
        }

        .our-chef {
            @include flex-column();
            align-items: center;
            text-align: center;
            width: 400px;
            margin-top: 100px;

            .chef-title {
                font-size: 30px;
                font-family: $rufina;
                font-weight: 600;
                margin-bottom: 0;
            }

            .chef-name {
                font-size: 15px;
                font-family: $lato;
            }

            .chef {
                width: 400px;
                height: 500px;
            }

            .about-chef {
                font-size: 13px;
                font-family: $lato;
                color: #4D4D4D;
                width: 300px;
                text-align: start;
                margin-bottom: 100px;
                align-self: flex-start;
            }
        }
    }

    .our-food-video {
        width: auto;
        height: auto;
        padding-bottom: 300px;
        @include flex-column();
        text-align: center;
        align-items: center;

        .ourfood {
            background-image: url("./assests/images/ourfood.png");
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .video-title {
            font-size: 70px;
            font-family: $rufina;
            color: white;
            z-index: 1;
            position: relative;
            margin: 120px 0 0 0;
        }

        .title-desc {
            font-size: 20px;
            font-family: $lato;
            color: white;
            z-index: 1;
            position: relative;
        }

        .play-btn {
            background: none;
            position: relative;
            border: none;

            .play-pause {
                width: 70px;
                height: 70px;
            }

        }
    }
}

.our-process {
    .process-title {
        @include flex-row();


        .title {
            font-family: $rufina;
            font-size: 50px;
        }

        .rosemary-right {
            width: 300px;
            height: 300px;
            float: right;
        }
    }
}