@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@mixin flex-row {
    display: flex;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin lato-lighter {
    font-family: 'Lato';
    font-weight: lighter;
}

@mixin rufina-lighter {
    font-family: 'Rufina';
    font-weight: lighter;
}

@mixin namefield-size {
    width: 450px;
    height: 60px;
}

@mixin namefield-css {
    @include namefield-size();
    padding-left: 30px;
    @include form-field-border();
}

@mixin mail-phone {
    width: 965px;
    height: 60px;
}

@mixin mail-phone-css {
    @include mail-phone();
    padding-left: 30px;
    @include form-field-border();
}

@mixin form-field-border {
    background: none;
    border: 1.5px solid black;
}

@mixin center-items {
    text-align: center;
    align-items: center;
}

$primary-font : 'Rufina';
$secondary-font: 'Lato';
$inter: 'Inter';
$tablet-size: '1030px';
$mobile-size: '430px';

@mixin epmloyee-title {
    font-family: $primary-font;
}

@mixin epmloyee-name {
    font-family: $secondary-font;
}